
*.vsidx
*.vsidx
/.vs
/.vs/ComanyEmployees
/.vs/ComanyEmployees/FileContentIndex
/.vs
/ComanyEmployees/bin
/ComanyEmployees/obj
/Repository/obj
/Repository/obj
/Contracts/bin
/Contracts/obj
/Entities/obj
.vs/ComanyEmployees/v17/.suo
*.bin
*.v2
*.cache
*.cache
/.vs
.vs/ComanyEmployees/v17/.suo
